* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.center {
    margin: 100px auto 50px;
    width: 600px;
    height: 50%;

    display: flex;
}

.controls {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 50px;
    height: 50px;
}

.crud button {
    border: none;
    background-color: transparent;
}

.crud:hover {
    background-color: antiquewhite;
}

.card-container {
    width: 400px;
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 2px rgb(0 0 0 / 50%), 0 6px 20px 1px rgb(0 0 0 / 20%);
    height: 100%;

    transition-property: transform;
    transition-duration: 1s;
    transform-style: preserve-3d;

    border-radius: 15%;
}

.front, .back {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: inherit;

    backface-visibility: hidden;
    background-color: aqua;

    padding: 10px;
}

.front h1, .back h1 {
    word-wrap: break-word;
    max-width: 100%;
}

.back {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.crudOps {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
}

a {
    color: black;
}

#deleteBtn {
    color: red;
}

#addBtn button {
    color: green;
}

#editBtn button {
    color: blue;
}